@tailwind base;
@tailwind components;
@tailwind utilities;


/* global.css or styles.css */
* {
  max-width: 1920px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1; /* Makes the main content take up the remaining space */
}
